<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\._plato</code></p>
<ul>
<li><code>FmColorName</code> - <code>red-dark</code></li>
<li><code>ColorHex</code> - <code>#F43F2A</code></li>
<li><code>ColorRgb</code> - <code>244,63,42</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5C._plato"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-48.png" /></a> <em>Plato Report Output</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw-plato/src/master/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>.git</code></li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>assets</code> - Destination Plato styles, fonts and scripts</li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C._plato%5Cfiles%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>files</code> - html index, scripts, and json per file - `both_externals_js/index.html'</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cdisplay.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>display.html</code> - Summary Display Page</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cindex.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>index.html</code> - Main Page</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Creport.history.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>report.history.js</code> - Historical Data</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Creport.history.json"><img src="http://mrobbinsassoc.com/images/icons/md/_json-16.png" /></a> <code>report.history.json</code> - Historical Data</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Creport.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>report.js</code> - Current Data</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Creport.json"><img src="http://mrobbinsassoc.com/images/icons/md/_json-16.png" /></a> <code>report.json</code> - Current Data</li>
</ul>
