<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\._plato\assets\scripts</code></p>
<ul>
<li><code>FmColorName</code> - <code>gray-dark</code></li>
<li><code>ColorHex</code> - <code>#7D7D85</code></li>
<li><code>ColorRgb</code> - <code>125,125,133</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cscripts"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-48.png" /></a> <em>Destination Plato Scripts and Script Directories</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cscripts%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw-plato/src/master/assets/scripts/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cscripts%5Cbundles%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>bundles</code> - Destination Plato Codemirror Scripts</li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cscripts%5Cvendor%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>vendor</code> - Destination Plato Vender Library Scripts</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cscripts%5Ccodemirror.markpopovertext.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>codemirror.markpopovertext.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cscripts%5Cplato-display.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>plato-display.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cscripts%5Cplato-file.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>plato-file.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cscripts%5Cplato-overview.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>plato-overview.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cscripts%5Cplato-sortable-file-list.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>plato-sortable-file-list.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cscripts%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
