<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\._plato\assets</code></p>
<ul>
<li><code>FmColorName</code> - <code>gray-dark</code></li>
<li><code>ColorHex</code> - <code>#7D7D85</code></li>
<li><code>ColorRgb</code> - <code>125,125,133</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5C._plato%5Cassets"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-48.png" /></a> <em>Destination Plato styles, fonts and scripts</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C._plato%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw-plato/src/master/assets/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Ccss%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>css</code> - Destination Plato Styles</li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cfont%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>font</code> - Destination Plato Fonts - FontAwesome</li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cscripts%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>scripts</code> - Destination Plato Scripts and Script Directories</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
