<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\._plato\assets\font</code></p>
<ul>
<li><code>FmColorName</code> - <code>gray-dark</code></li>
<li><code>ColorHex</code> - <code>#7D7D85</code></li>
<li><code>ColorRgb</code> - <code>125,125,133</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cfont"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-48.png" /></a> <em>Destination Plato Fonts - FontAwesome</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cfont%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw-plato/src/master/assets/font/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cfont%5Cfontawesome-webfont.eot"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>fontawesome-webfont.eot</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cfont%5Cfontawesome-webfont.svg"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>fontawesome-webfont.svg</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cfont%5Cfontawesome-webfont.ttf"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>fontawesome-webfont.ttf</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cfont%5Cfontawesome-webfont.woff"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>fontawesome-webfont.woff</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C._plato%5Cassets%5Cfont%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
